<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'Qampus:main' %}"> X </a> 질문 올리기 
    <form method="POST" action="{% url 'Qampus:create' %}">
        {% csrf_token %}
        <input type="submit" value="완료">
        제목을 입력해주세요.<input type="text" name="title" /><br><br><hr>
        궁금한 내용을 자세히 적어주세요. 구체적일수록 더 좋은 답변을 받을 수 있어요.<textarea name="content"></textarea><br><br>
        
        #카테고리 중복이 안된다.........
        <select name="category" multiple>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
        </select> <br>
    </form><br>
    <p>※ 질문 내용 관련 유의사힝</p>
    <p> · 질문의 제목과 본문은 내용을 명확히 알 수 있도록 작성해주세요.</p>
    <p> · 동일하거나 유사한 질문을 반복적으로 게시하는 행위는 제한될 수 있습니다. </p>
    <p> · 허위 정보, 확인되지 않은 소문, 오해를 불러일으킬 수 있는 내용은 작성하지 말아 주세요.</p>
    <p> · 특정 개인, 단체, 기관은 비방하거나 명예를 훼손하는 내용은 금지됩니다.</p>
    <p> · 개인정보, 연락처, 계정 정보 등 타인의 사생활을 침해할 수 있는 내용은 게시할 수 없습니다.</p>
    <br><br>
    <p>※ 첨부파일 및 이미지 관련 유의사힝</p>
    <p> · 저작권을 침해하거나 무단으로 공유된 자료는 첨부할 수 없습니다.</p>
    <p> · 타인의 얼굴, 이름, 연락처, 학번 등 식별 가능한 정보가 포함된 이미지는 게시하지 말아 주세요.</p>
    <p> · 게시글 내용과 무관한 이미지 또는 불쾌감을 줄 수 있는 이미지는 제한될 수 있습니다.</p>
    <br><br><hr>
</body>
</html>