<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>질문 올리기</h2>
    <form method="POST" action="{% url 'Qampus:update' post.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" value="{{ post.title }}" name="title"><br><br>
        <textarea name="content">{{ post.content }}</textarea><br><br>
        
    <select name="category">
        {% for category in categories %}
            <option value="{{ category.id }}" {% if category in post.category.all %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="완료">
    </form>
</body>
</html>